@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat Regular'),
    url('font/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat SemiBold'),
    url('font/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk Text Wide';
    font-style: normal;
    font-weight: bold;
    font-display: swap;
    src: local('Druk Text Wide'), local('Druk Text Wide'),
    url('font/DrukTextWide-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Druk Text Medium';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Druk Text Wide'), local('Druk Text Wide'),
    url('font/DrukTextWide-Medium.ttf') format('truetype');
}

canvas {
    visibility: hidden;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #1F1F1F;
    margin: 0;
    height: 100%;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

ol, ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.center {
    text-align: center;
}

input,
.fontwhite {
    color: #FFFFFF;
}

.color9E9E9E {
    color: #9E9E9E;
}

input {
    padding: 0;
    margin: 0;
    height: 25px;
    background-color: transparent;
}

input:focus {
    outline: none;
}

.link {
    font: normal normal 400 16px/27px 'Montserrat', sans-serif;
}

a {
    display: block;
}

.folio__img,
.logisticH2,
.video__go {
    transition: all 1s;
}

.show .logisticH2,
.year-upperline,
.upperline, .uperlinedesktop {
    position: relative;
}

.show .logisticH2::after,
.year-upperline::after,
.upperline::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
    top: -20px;
}

.listworks__li {
    margin: 0 10px;
    padding: 15px 0;
}

/*.buttons start*/
.pulseback {
    position: relative;
}

.pulseback::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-radius: 50%;
    background-color: #1378EF;
    animation: pulse 3s ease infinite;
    box-shadow: 0 0 20px #1378EF;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 20px #1378EF;
        transform: scale(1, 1);
    }
    50% {
        box-shadow: 0 0 10px #1378EF;
        opacity: 0.1;
    }
    100% {
        box-shadow: 0 0 5px #1378EF;
        transform: scale(1.5);
        opacity: 0;
    }
}

.blueback {
    background: #1378EF;
}

.bigbutton {
    position: relative;
    height: 204px;
    width: 204px;
    border-radius: 102px;
    margin: 50px auto;
}

.buttonmiddle {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 32px auto 0 5px;
    position: relative;
}

.bluebutton {
    background: #1378EF;
    border-radius: 64px;
    padding: 0 15px;
    margin: 12px 5px;
}

.topics {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 0;
    margin: auto;
}

.connect {
    font: normal normal 400 16px/24px "Montserrat", sans-serif;
    display: block;
    width: 150px;
    line-height: 100px;
    position: absolute;
    left: 0;
    padding-left: 50px;
}

.listworks {
    display: flex;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#ballIsPlaced:after {
    animation-name: slide;
    animation-duration: 1s;
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 67px;
    height: 67px;
    border-radius: 34px;
    background-color: #1378EF;
    z-index: -1;
}

.video__button {
    font: normal normal 400 14px/23px 'Montserrat', sans-serif;
    margin: auto 0 auto auto;
    width: 104px;
    height: 24px;
}

.finger:hover {
    cursor: pointer;
}


/*.buttons finish*/
/*.back-site start*/
.back-site {
    position: fixed;
    top: 0;
    height: 100%;
    z-index: -3;
    display: flex;
    justify-content: center;
    width: 122.8%;
    overflow: hidden;
    opacity: .2;
}

.vl1, .vl2, .vl3, .vl4 {
    width: 18.6%;
    box-shadow: 0 0 1px #d6d6d6 inset;
}

.vl1::after, .vl2::after, .vl3::after, .vl4::after {
    width: 8px;
    height: 30px;
    content: '';
    display: block;
    position: absolute;
    background-color: #FFFFFF;
    margin-left: -4px;
    top: -10%;
}

.vl1::after {
    animation: 30s linear 0s infinite normal move_bottom;
}

.vl2::after {
    animation: 25s linear 8s infinite normal move_bottom;
}

.vl3::after {
    animation: 35s linear 16s infinite normal move_bottom;
}

.vl4::after {
    animation: 20s linear 32s infinite normal move_bottom;
}

@keyframes move_bottom {
    from {
        top: -10%;
    }
    to {
        top: 110%;
    }
}

.back-site__round-out, .back-site__round-in {
    display: block;
    top: 10%;
    left: 0;
    margin: auto;
    right: 0;
}

.back-site__round-out {
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 300px;
    border: 1px solid #4f4f4f;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 7% 13% 0 auto;
    background: radial-gradient(#3a3a3a 0, transparent 70%);
    animation: 70s linear 0s infinite normal move_around;
}

.back-site__round-in canvas {
    align-self: center;
    margin: 0;
    animation: 2s slow-show;
}

.back-site__round-in {
    position: relative;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    top: 0;
    transform: rotate(0);
    display: flex;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.back-site__round-in::before,
.back-site__round-in::after {
    content: '';
    width: 10%;
    height: 10%;
    border-radius: 50%;
    position: absolute;
    border: 1px solid #4f4f4f;
}

.back-site__round-in::before {
    top: 0;
    left: 0;
}

.back-site__round-in::after {
    right: 0;
    bottom: 0;
}

@keyframes move_around {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes slow-show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

@keyframes slow-show1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }

}

.whereDisplay0 {
    animation: 2s slow-show;
}

.whereDisplay1 {
    animation: 2s slow-show1;
}

.logistic__p5 {
    min-height: 372px;
    position: relative;
}

.whereDisplay {
    padding: 0;
    margin: 50px 0;
}

.whereDisplay h3 {
    text-align: center;
}

/*.back-site finish*/
/*.vacancies*/
.uperlinedesktop::after {
    top: 3px;
    left: 0;
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #FFFFFF;
}

.uperlinedesktop-vac::after {
    top: -40px;
}

/*.vacancies*/
/*video test emotions*/
.s6 {
    position: relative;;
}

.video__h1 {
    font: normal normal 400 27px/41px 'Druk Text Wide', sans-serif;
    margin: 4.2% auto auto 2.6%;
}

.video__list {
    position: absolute;
    right: 10%;
    top: 10%;
    display: flex;
    justify-content: space-between;
    margin: 0 14% 50px 4%;
    left: 10%;
    bottom: 10%;
    align-items: center;
}

.video__item {
    background: url("../img/index/videoemotions.svg") center center no-repeat #181818;
    background-size: 112px 112px;
    width: 300px;
    height: 200px;
    opacity: .59;
    margin: 5px;
    color: #FFFFFF;
    font-size: 50px;
}

.video__nav-top {
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*Static*/
.activeForward {
    animation: 1s activeForward;
}

@keyframes activeForward {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.activeBack0 {
    animation: .7s activeBack0;
    animation-timing-function: linear;
}

.activeBack1 {
    animation: 1s activeBack1;
    animation-timing-function: linear;
}

@keyframes activeBack0 {
    from {
        transform: translateX(-564px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes activeBack1 {
    from {
        transform: translateX(-564px);
    }
    to {
        transform: translateX(0);
    }
}

.activeForward0 {
    animation: .7s activeForward0;
    animation-timing-function: linear;
}

.activeForward1 {
    animation: .7s activeForward1;
    animation-timing-function: linear;
}

@keyframes activeForward0 {
    from {
        transform: translateX(564px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes activeForward1 {
    from {
        transform: translateX(564px);
    }
    to {
        transform: translateX(0);
    }
}

/*Static*/
.emotions__item {
    padding: 10px;
}

.imotions__rounded {
    width: 62px;
    height: 62px;
    border-radius: 31px;
    margin: 13px 0 0 0;
    display: block;
}

.textCenter {
    text-align: center;
}

.emotions__link {
    text-align: left;
}

.emotions__item {
    margin: 0 18px;
}

.emotions__desk {
    margin: 2px 0 14px;
}

.emotions__ag {
    font: normal normal 700 20px/34px 'Montserrat', sans-serif;
}

.emotions {
    margin: -230px 0 90px;
}

.backgray {
    background-color: #181818;
}

.emotions__set {
    display: flex;
    width: 100%;
}

.video__action {
    position: relative;
    z-index: 0;
}

.video__action::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    background: url('../img/index/videoemotions.svg') center center no-repeat;
    background-size: 360px;
    z-index: 1;
}

.video__nav {
    position: absolute;
    display: flex;
    width: 170px;
    margin: 0;
    height: 180px;
    flex-direction: column;
    justify-content: space-around;
    right: 0;
    bottom: 0;
}

.video__go, .video__a {
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: block;
}

.video__go {
    position: relative;
}

.video__go:hover {
    transform: scale(1.1);
    opacity: .8;
}

.video__prev {
    position: absolute;
    background: url('../img/index/prev.svg') center center no-repeat;
    right: -10px;
    background-size: contain;
    width: 41px;
    margin: auto;
    top: 0;
    bottom: 0;
}

.video__next {
    background: url('../img/index/next.svg') center center no-repeat;
    position: absolute;
    left: -10px;
    background-size: 41px 23px;
    width: 41px;
    margin: auto;
    top: 0;
    bottom: 0;
}

/*Arrow switcher*/
/*video test emotions*/

.ourworks {
    padding: 0;
    margin: 0;
}

.switcher .extender {
    display: none;
}

.logicInfo.show,
.show .extender {
    display: block;
}

.switcher {
    position: relative;
}

.switcher::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 17px;
    background: url("../img/index/arrowdown.svg") center center no-repeat;
    border-radius: 5px;
    z-index: -1;
    transform: rotate(0deg);
}

.maindirrection::before,
.logistic__dirrection::before {
    transition: 1s transform
}


.switcher.show::before {
    transform: rotate(-90deg);
}

/*video test emotions*/
/*Modal Video*/
.video__set, .callBack {
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    display: none;
    z-index: 4;
}

.hide-form {
    animation-name: down;
    animation-duration: 1s;
}

.backBlack::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1F1F1F;
    z-index: -1;
    right: 0;
    bottom: 0;
    margin: auto;
}

.close {
    width: 20px;
    height: 20px;
    background: url('../img/index/x.svg') center center no-repeat;
    background-size: contain;
    margin: 20px 30px 0 auto;
    position: relative;
    z-index: 1;
}

.video__nav-top {
    height: 87%;
    max-width: 100px;
    right: 5%;
    bottom: 10%;
    top: auto;
}

.videoEmotionSet {
    display: flex;
    width: 240%;
}

.video__item {
    width: 490px;
    height: 300px;
}

/*Modal Video*/

@keyframes marin-left {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 25%;
    }
}

.deskTopSlide {
    display: block;
    align-items: center;
}

.deskTopSlide {
    animation-name: slide;
    animation-duration: 1s;
}

.deskTopSlide1 {
    animation-name: slide1;
    animation-duration: 1s;
}

.deskTopSlide2 {
    animation-name: slide2;
    animation-duration: 1s;
}

@keyframes slide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide2 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Modal Video*/

.show .logisticH2 {
    color: #1378EF;
    width: 100%;
}

.folio__img:hover {
    filter: grayscale(0);
}

.folio__img {
    filter: grayscale(100%);
}

/*Top link hover*/
.link-top {
    position: relative;
}

.link-top::after {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: 100%;
    height: 1px;
    opacity: 0;
    background-color: #E5E5E5;
    transition: opacity 1s;
}

.nav__act::after {
    height: 1px;
    opacity: 1;
}

.link-top:hover::after {
    opacity: 1;
}

.link-top:active::after {
    height: 1px;
    background-color: #1378EF;
}

.link-top:active {
    color: #1378EF;
}

.hide-form {
    display: none;
}

.show {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Modal forms*/
.hide-form {
    position: fixed;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.hidden-form-vacancies,
.hidden-form-vacancies1,
.hidden-form-vacancies2,
.hidden-form-vacancies3,
.hidden-form-vacancies4 {
    display: none;
}

.hidden-form-vacancies {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.hide-form-index__fname,
#fnamehide,
#firstname1,
#firstname2,
#firstname3,
#firstname4 {
    text-indent: 49px;
}

#lastname1,
#lastname2,
#lastname3,
#lastname4 {
    text-indent: 70px;
    left: 0;
}

.hide-form-index__phone,
#phone1,
#phone2,
#phone3,
#phone4 {
    text-indent: 85px;
    left: 0;
}

.show-form-vacancies {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    animation-name: down;
    animation-duration: 1s;
}

.modalJoinForm {
    max-width: 320px;
    margin: auto;
    padding: 10px 40px 40px;
    max-height: 600px;
    position: relative;
    background-color: #1d1d1d;
}

.opacity0 {
    opacity: 0;
}

/*vacncies forms*/
.JoinToUs {
    max-width: 520px;
    padding: 20px 30px 110px;
}

.modaljoinToUs__h4 {
    max-width: 300px;
}

.vac__close {
    margin: 0 10px 0 auto;
}

.vacancies-hidden-form {
    padding: 0 30px 0;
}

.vac__pulse {
    margin: 20px 100px 10px auto;
}

/*vacncies forms*/
.modaljoinToUs__h3 {
    font: normal normal 700 19px/28px 'Druk Text Wide', sans-serif;
    color: #FFFFFF;
    margin: 0;
}

.modaljoinToUs__h4 {
    margin: 15px auto 0;
}

.modalJoin__text {
    font: normal normal 400 16px/27px 'Montserrat', sans-serif;
    color: #FFFFFF;
}

.modalJoin-center {
    text-align: center;
}

.modalJoinForm__labels {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 30px 0 0;
}

.load-resume {
    background: url("../img/form/fileupload.svg") right center no-repeat;
    background-size: 18px 18px;
}

.modalJoinForm__block {
    padding: 0;
    margin: 4px 0;
    position: relative;
}

.footer__label {
    position: relative;
    display: block;
    margin: 0 0 16px;
}


.footer__label::after,
.modalJoinForm__block::after {
    position: absolute;
    content: '';
    background-color: #ffffff;
    height: 1px;
    width: 100%;
    display: block;
    top: 40px;
}

.modalJoin__input {
    background-color: transparent;
    border-width: 0;
    display: block;
    width: 100%;
    height: 35px;
    position: relative;
}

.hide-form {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    top: 0;
}

.show#videoSlider {
    display: flex;
    align-items: center;
    justify-content: center;
}

.show.hide-form-index {
    display: flex;
}

.show-form-vacancies::after,
.hide-form::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    background-color: #000000;
    top: 0;
    left: 0;
    z-index: -2;
    opacity: .9;
}

.video__group {
    min-width: 1140px;
    position: relative;
    min-height: 400px;
}

/*CallBack*/

.hide-form-index__h {
    padding: 0;
    margin: 35px 0 0;
    letter-spacing: -1px;
}

.hide-form-index__p {
    margin: 22px 17% 0;
    max-width: initial;
}

.hide-form-index__label {
    padding: 43px 20px 0;
}

.hide-form-index__label {
    padding: 42px 18px 0;
}

.hide-form-index__common {
    margin: 0 20.7% 0 auto;
}

.hide-form-index__close {
    position: absolute;
    right: -10px;
    top: 0;
}

.hide-form-index__i {
    height: 30px;
    margin: 0 0 10px;

}

/*CallBack*/

/*Modal forms*/
/*animate tabs*/

.switcher .extender {
    animation: 2s paper;
}

/*animate tabs*/
/*Top link hover*/

.whereText {
    font: normal normal 400 22px/33px "Montserrat", sans-serif;
    padding: 20px 11px;
    margin: 0 10px;
    position: relative;
}

/* Video Show */
.videoScreen {
    position: fixed;
    top: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F1F1F;
}

.videoClose {
    background: url("../img/index/x.svg") center center no-repeat;
    background-size: contain;
    position: absolute;
    right: 40px;
    top: 40px;
    width: 40px;
    height: 40px;
}

.videoCanvas {
    width: 100%;
    height: 100vh;
    max-width: 1920px;
    max-height: 1000px;
    display: flex;
    align-items: flex-end;
}

.videoCanvas iframe {
    width: 100%;
    height: 90%;
}

.videoScreenClose {
    display: none;
}

/* Video Show */
@media (max-width: 1070px) {
    .back-site__round-in {
        animation: none;
        width: 94%;
        height: 94%;
        max-width: 282px;
        max-height: 282px;
    }

    .back-site__round-in::before, .back-site__round-in::after {
        opacity: 0;
    }

    .back-site__round-out {
        border-color: transparent;
        width: 94vmin;
        height: 94vmin;
        border-radius: 47vmin;
        top: 60px;
        left: 0;
        right: 0;
        margin: auto;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: 2s slow-show;
    }

    /*Top link hover*/
    .fingerMob:hover {
        cursor: pointer;
    }

    .nav__act::after {
        left: 0;
        right: 0;
    }

    .link-top:after {
        margin: auto;
        width: 100px;
        left: 0;
        right: 0;
    }

    /*Top link hover*/
    .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
        margin-left: 15px;
        margin-right: 15px;
    }

    .folio {
        margin-top: 59px;
        margin-bottom: 70px;
    }

    .logisticH2,
    .year-upperline {
        position: relative;
    }

    .logisticH2::after,
    .keyprinciples-direct::after {
        content: '';
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        background-color: #FFFFFF;
        top: -20px;
        left: 0;
    }

    .show.maindirrection {
        align-items: flex-start;
    }

    .keyprinciples-direct::after {
        transition: all 2s;
    }

    .show .keyprinciples-direct::after {
        left: 0;
        top: auto;
        background-color: #1378EF;
    }

    .uperlinedesktop::after {
        content: none;
    }

    .uperlinedesktop-vac::after {
        content: '';
    }

    .year {
        font: normal normal 400 27px/40px 'Druk Text Wide', sans-serif;
    }

    .overno {
        overflow: auto;
    }

    .overyes {
        overflow: hidden;
    }

    .s1 {
        overflow: hidden;
        width: 100%;
        top: 0;
        position: fixed;
        z-index: 1;
    }

    .s1__p1 {
        width: 85px;
        margin: 0;
        display: block;
        position: absolute;
        top: 14px;
        left: 16px;
    }

    .burger {
        position: fixed;
        width: 50px;
        height: 50px;
        z-index: 4;
        right: 17px;
        top: 15px;
    }

    .s1__p2 {
        background-color: #232426;
        margin: -80px 0 0;
        position: relative;
        padding: 105px 0 0;
        z-index: 1;
    }

    .overno .s1__p2, .mobillehide {
        height: 0;
        display: none;
        z-index: 0;
    }

    .overyes .s1__p2 {
        height: 105vh;
        display: flex;
        position: fixed;
        width: 100%;
        top: 0;
        flex-direction: column;
        margin: auto;
        left: 0;
        right: 0;
        z-index: 3;
    }

    .burger__lines {
        width: 49px;
        height: 49px;
        background-color: #232426;
        border-radius: 25px;
    }

    .burger__lines::before,
    .burger__lines::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: auto;
        width: 26px;
        height: 3px;
        background-color: #FFFFFF;
        display: block;
    }

    .overyes .burger__lines::before, .overyes .burger__lines::after {
        top: 16px;
    }

    .overyes .burger__lines::before {
        transform: rotate(45deg);
        top: 22px;
    }

    .overyes .burger__lines::after {
        transform: rotate(-45deg);
    }

    .burger__lines::before {
        top: 18px;
    }

    .burger__lines::after {
        bottom: 18px;
    }

    .s1__p1__p1 {
        font: normal normal 500 23px/23px 'Open Sans', sans-serif;
    }

    .s1__p1__p2 {
        font: normal normal bold 8px/8px 'Open Sans', sans-serif;
        display: block;
    }

    .s1__p2__p1 {
        text-align: center;
        padding: 24px 0 7px;
    }

    .s1__p2__p1__p1-fonthavy {
        font: normal normal bold 28px/38px "Druk Text Wide", sans-serif;
        margin: 225px auto 0 0;
    }

    .mobmargleft {
        margin-left: 16px;
    }

    .s2 {
        margin: 100px 0 0;
    }

    .s3__p1 {
        margin: 93px 0 0;
    }

    .s3__p2 {
        margin: 76px 0 22px;
    }

    .s3 {
        margin: 10px 0 0;
    }

    .s3-techsupport {
        margin-top: 0;
    }

    .s2, .s3, .s4, .footer {
        margin-right: 16px;
        margin-left: 16px;
    }

    .agtext {
        font: normal normal 400 16px/27px "Montserrat", sans-serif;
    }

    .year {
        display: flex;
        flex-wrap: wrap;
    }

    .year__historydate {
        font: normal normal 700 20px/30px "Montserrat", sans-serif;
        margin: 5px 10px;
    }

    .year__event {
        flex: 1 0 70%;
        margin: 5px 10px;
    }

    .rawdirect {
        display: flex;
        justify-content: space-between;
    }

    .agh2mob {
        font: normal normal 700 22px/33px "Druk Text Wide", sans-serif;
    }

    .agh2mob__min {
        font: normal normal 700 16px/27px "Montserrat", sans-serif;
    }

    .agh3mob {
        font: normal normal 700 19px/28px "Druk Text Wide", sans-serif;
    }

    /*Index page mobile*/
    .topics {
        margin: 0;
    }

    #ballIsPlaced::after {
        width: 50px;
        height: 50px;
    }

    .bluebutton {
        margin: 2px 10px 10px 0;
        line-height: 30px;
        padding: 0 16px;
    }

    .aboutus {
        margin-top: 71px;
    }

    .aboutus__h2 {
        margin: 0;
    }

    .aboutus__h3 {
        margin: 8px 0 30px;
    }

    .year {
        padding: 0 0 30px;
    }

    .year__historydate {
        margin: 0;
    }

    .year__event {
        margin: 1px 0 0 4%;
    }

    .switcher::before {
        top: 10px;
        right: 10px;
    }

    .logistic__dirrection.switcher::before {
        top: 20px;
    }

    .year-upperline::after {
        top: -10px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .keyprinciples__h2 {
        margin-top: 50px;
    }

    .keyprinciples-direct {
        margin: 60px 0 0;
        padding: 0 10% 0 0;
    }

    .switcher.show::before {
        top: 0;
    }

    .show.maindirrection::before {
        top: 70px;
    }

    .show .keyprinciples-direct {
        color: #1378EF;
    }

    .keyprinciples-direct {
        transition: color 2s;
    }

    .where-lw {
        margin: 0;
    }

    .logistic__h3 {
        margin: 5px 0 0;
    }

    .logisticH2 {
        margin: 0;
        padding: 0 21% 10px 0;
    }

    .logisticH2,
    .keyprinciples-direct {
        width: 100%;
        box-sizing: border-box;
    }

    .logisticH2::after {
        right: auto;
        left: 0;
        opacity: .5;
        bottom: 0;
        top: auto;
    }


    .logisticH2::after {
        transition: all 2s
    }

    .show .logisticH2::after {
        top: auto;
        background-color: #1378EF;
        height: 2px;
        bottom: 10px;
        margin-bottom: -20px;
    }

    .logistic__dirrection {
        padding: 15px 0 6px;
    }

    .show.logistic__dirrection::before {
        top: 20px;
    }

    .logistic__dirrection.show {
        align-items: flex-start;
    }

    .switcher .extender {
        padding: 30px 0 0;
    }

    .evaluate {
        margin: 74px 10px 0;
        position: relative;
        z-index: 1;
    }

    .cta-bigbutton {
        margin-top: -10px;
        z-index: 0;
        height: 186px;
        width: 186px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cta-bigbutton:hover {
        z-index: 0;
    }

    .cta-a {
        text-align: center;
        display: block;
        z-index: 0;
        height: 100%;
        width: 100%;
        line-height: 186px;
    }

    .testEmotions-h2 {
        margin: 0;
        padding: 40px 0 0;
    }

    .testEmotions-h3 {
        margin: 0;
        padding: 10px 0 0;
    }

    .folio__company {
        padding: 5px;
        display: flex;
        align-items: center;
    }

    .folio__img {
        margin: 0;
        height: 40px;
    }

    /*Index page mobile*/
    /*video*/
    .emotions {
        max-width: 320px;
        margin: auto;
    }

    .emotions__set {
        margin: 0 0 0;
        overflow: hidden;
    }

    .deskTopSlide ~ .video__item {
        display: none;
    }

    .emotions__item {
        display: none;
        margin: 0;
    }

    .emotions__item:first-child {
        display: block;
    }

    .emotions {
        margin: 42px auto 0;
    }

    .video__button {
        font: normal normal 400 10px/17px 'Montserrat', sans-serif;
        position: absolute;
        right: 0;
        top: 118px;
        margin: auto;
    }

    .video__action::before {
        height: 120px;
        width: 120px;
        background-size: 180px;
        top: -430%;
        left: -19%;
    }

    .video__prev {
        right: -2px;
        margin: auto;
        height: 8px;
        width: 16px;
    }

    .video__next {
        left: -2px;
        width: 16px;
        margin: auto;
        height: 8px;
        background-size: contain;
    }

    .video__nav {
        position: initial;
        margin: 0 0 0 auto;
        flex-direction: row;
        height: 52px;
        align-items: center;
        width: 71px;
        justify-content: space-between;
    }

    .emotions__ag {
        text-align: left;
        margin: 5px 0 0;
        line-height: 31px;
    }

    .emotions__link {
        margin: 0;
        line-height: 25px;
    }

    .emotions__Text {
        margin: 9px 0 0;
    }

    /*video*/
    .ourworks {
        margin: 0;
        /*width: 930px;*/
        /*flex-wrap: wrap;*/
    }

    /*portfolio*/
    .oil {
        width: 118px;
        height: 40px;
    }

    .aqua {
        width: 95px;
        height: 26px;
    }

    .know {
        width: 117px;
        height: 40px;
    }

    .perch {
        width: 191px;
        height: 47px;
    }

    .mail {
        width: 235px;
        height: 40px;
    }

    .kine {
        width: 111px;
        height: 32px;
    }

    .pifa {
        width: 53px;
        height: 53px;
    }

    .navy {
        width: 226px;
        height: 25px;
    }

    .ncc {
        width: 234px;
        height: 32px;
    }

    .sun {
        width: 63px;
        height: 40px;
    }

    .ano {
        width: 109px;
        height: 34px;
    }

    /*portfolio*/
    /*support*/
    .s3__p2-support {
        margin: 50px 0 15px;
    }

    /*support*/
    /*Buttons start here*/
    .s3contactinfo-press {
        line-height: 204px;
        text-align: center;
        z-index: 0;
        position: relative;
    }

    .buttonmiddle-footermob {
        margin: 34px auto 0 0;
    }

    .vac__pulse-mob {
        margin: 11px auto 0 93px;
    }

    .vac__input {
        top: -25px;
        border-width: 0;
    }

    .hide-form-index__common {
        margin: -15px 32% 0 auto;
    }

    .callBackButton {
        margin: -15px auto 0 117px;
    }

    /*Buttons finish here*/
    .allinfo {
        padding: 0;
        margin: 0 0 15px;
    }

    .allinfo-footermob {
        margin: 40px 0;
    }

    .footer {
        position: relative;
    }

    .footer__p1 {
        margin: 15px 0;
    }

    .footer__p2 {
        margin: -6px 0 22px;
        font-size: 24px;
        line-height: 48px;
        font-family: "Montserrat", sans-serif;
    }

    .footer__p3 {
        padding: 0 0 5px;
        margin: 0;
    }

    .footer__p4 {
        margin: 0;
    }

    .footer__p5 {
        min-width: 274px;
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: -103px;
    }

    .footer__p6 {
        margin: 8px 0 48px 0;
    }

    /*s7companies*/
    .s7companies {
    }

    /*.vacancies*/
    .formh1-vacancies {
        margin: 90px auto 50px;
    }

    .s2-vacancies {
        margin-top: 0;
    }

    .uperlinedesktop::after {
        top: -18px;
        left: auto;
    }

    .buttonmiddle-vacancies {
        margin: 40px auto 0 50px;
    }

    /*.vacancies*/
    /*contacts*/
    .s2-contactMob {
        margin-top: 0;
        margin-bottom: 0;
    }

    .contactinfo__2desk {
        margin: 0 0 40px;
    }

    .s3contactinfo__2desk {
        margin-top: 0;
    }

    .contactinfo__2desk {
        margin: 40px 0;
    }

    .s3contactinfo__2desk-pulse {
        margin: 0;
    }

    .s3contactinfo__2desk-p {
        margin: 0 0 16px;
    }

    .FootForm {
    }

    .command {
        margin: 0 auto;
    }

    .connect-figcaption {
        margin: 0 0 40px;
    }

    .contact-img {
        width: 288px;
        height: 235px;
    }

    .command-h2 {
        margin: 25px 0 0;
    }

    .command-p {
        margin: 11px 0 0;
    }

    /*contacts*/
    /*Video Slider*/
    .video__group {
        min-width: 320px;
    }

    .video__h1 {
        margin: 4px 0 auto 30px;
        font-size: 19px;
        max-width: 288px;
    }

    .videoEmotionSet {
        max-width: 288px;
        max-height: 200px;
        margin: auto;
    }

    .video__list {
        top: 0;
        bottom: -5%;
        margin: auto;
        left: 0;
        max-width: 288px;
        right: 0;
    }

    .video__item:first-child {
        display: block;
    }

    .video__item {
        display: none;
        max-width: 288px;
        max-height: 200px;
        margin: auto;
        background-size: 227px;
    }

    .video__nav-top {
        position: absolute;
        margin: 0 auto 20%;
        top: auto;
        width: 25%;
        left: 0;
        right: 0;
        bottom: 0;
    }

    /*Video Slider*/
    /*Modal forms*/
    .hide-form {
        position: fixed;
        top: 0;
        background-color: #1d1d1d;
        height: 100%;
        z-index: 4;
        display: none;
        left: 0;
        right: 0;
        margin: auto;
    }

    .show {
        display: flex;
    }

    .modalJoinForm {
        max-width: 300px;
        margin: auto;
        padding: 40px 20px 26px;
    }

    .vac__wind {
        min-width: 300px;
        padding: 40px 10px 26px;
    }

    .modaljoinToUs__h3 {
        font: normal normal 700 19px/28px 'Druk Text Wide', sans-serif;
        color: #FFFFFF;
        margin: -22px 0 0;
        letter-spacing: 0;
    }

    .vacancies-hidden-form {
        padding: 20px 0 0;
    }

    .modaljoinToUs__h4 {
        margin: 15px 0 0;
    }

    .modalJoin__text {
        font: normal normal 400 16px/27px 'Montserrat', sans-serif;
        color: #FFFFFF;
        max-width: 270px;
        margin: 13px auto 0;
    }

    .modalJoinForm__labels {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 24px 0 0;
        width: 96%;
        margin: 0 auto 0 2%;
    }

    .modalJoinForm__block {
        position: relative;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: initial;
    }

    .index__n {
        padding: 0 0 9px;
    }

    /*Vacancies form*/
    .close {
        background-size: 18px 18px;
        margin-right: 19px;
    }

    .periodClose {
        margin: -20px 7px 24px auto;
    }

    .periodForm {
        padding: 40px 10px 26px;
    }

    .periodSend {
        margin: 26px auto 11px 88px;
    }

    .vac__close {
        position: absolute;
        right: 18px;
        top: 18px;
        margin-right: 0;
    }

    .modalJoin__input {
        top: -31px;
    }

    .periodTA {
        text-indent: 110px;
        top: -27px;
    }

    .periodInputFN {
        text-indent: 43px;
    }

    .periodInputLN {
        text-indent: 64px;
    }

    .periodInputFNPhone {
        text-indent: 80px;
    }

    /*Vacancies form*/
    /*CallBack*/
    .hide-form-index__close {
        width: 18px;
        height: 17px;
        margin: 19px 30px 0 0;
    }

    .hide-form-index__form {
        min-width: 320px;
        padding: 64px 0 40px;
    }

    .hide-form-index__i {
        top: -37px;
        left: 0;
        text-indent: 82px;
    }

    .hide-form-index__label {
        padding: 30px 3% 20px;
        width: 90%;
    }

    .index__con {
        letter-spacing: -0.8px;
    }

    /*CallBack*/
    /*Modal forms*/
    .back-site {
        display: none;
    }

    /*First Screen*/
    .firstScreen {
        height: 100%;
        display: flex;
    }

    .mainScreen {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 0;
        min-height: 486px;
    }

    .contacth1,
    #contacts,
    .s2__p1-vacancies,
    #vacancies,
    .TechSupportH1,
    #techsupprt {
        margin-bottom: auto;
    }

    .agh1desk-doit {
        margin: 118px auto 0;
        text-align: center;
    }

    .h1index {
        margin-top: auto;
    }

    .aboutus, .keyprinciples {
        transition: all 2s;
        opacity: 0;
        transform: translateY(100px);
    }

    .aboutus.appear, .keyprinciples.appear {
        opacity: 1;
        transform: translateY(0);
    }

    .aboutus.appearSecond, .keyprinciples.appearSecond {
        opacity: 1;
        transform: translateY(0);
    }

    /*First Screen*/
}

@media (min-width: 1069px) {
    body {
        overflow-x: hidden;
    }

    .year__historydate, .agh3mob, .agh2mob__min {
        font: normal normal 400 27px/40px "Druk Text Wide", sans-serif;
    }

    .keyprinciples__hide,
    .agtext {
        font: normal normal 400 16px/27px "Montserrat", sans-serif;
    }

    .font20px {
        font-size: 20px;
    }

    .whereText {
        font: normal normal 400 22px/33px "Montserrat", sans-serif;
    }

    .folio__cli {
        margin: 175px 0 29px 45px;
        font: normal normal 400 20px/34px "Montserrat", sans-serif;
    }

    .agh2mob__min {
        font: normal normal 700 16px/27px "Montserrat", sans-serif;
    }

    .agh2support {
        font: normal normal 700 30px/45px "Montserrat", sans-serif;
    }

    .agh2desk {
        font: normal normal 700 24px/41px "Druk Text Wide", sans-serif;
    }

    .agh1desk {
        font: normal normal 700 37px/55px "Druk Text Wide", sans-serif;
    }

    /*Top menu nav started*/
    .burger, .hidedesktop {
        display: none;
    }

    .show .logisticH2::after,
    .year-upperline::after,
    .upperline::after {
        content: none;
    }

    .navigate {
        display: flex;
    }

    .firstScreen, .s1, .s2, .s3, .s4, .s5, .s6, .s7, .s8 {
        max-width: 1300px;
        padding: 0 50px;
        margin-left: auto;
        margin-right: auto;
    }

    .folio {
        margin-top: -71px;
        margin-bottom: 170px;
        max-width: 1394px;
    }

    .s1 {
        display: flex;
        justify-content: space-between;
    }

    .s1__p1 {
        display: flex;
        width: 158px;
        height: 78px;
        margin: 35px 0 0;
        flex: 1 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .s1__p2 {
        display: flex;
        margin: 22px 0 0;
        flex: 2 0 auto;
        justify-content: flex-end;
        align-items: center;
    }

    .s1__p1__p1 {
        font: normal normal 700 45px/45px 'Open Sans', sans-serif;
    }

    .s1__p2__p1 {
        margin: 5px 0 0 5.4%;
    }

    .s1__p1__p2 {
        font: normal normal 400 16px/16px 'Open Sans', sans-serif;
        letter-spacing: .7px;
    }

    .link {
        line-height: 24px;
    }

    /*Top menu nav finished*/
    /*vacancies start*/
    .agh1desk-doit {
        margin: 118px auto 0;
        max-width: 510px;
        text-align: center;
    }


    .bigbutton-vacancies {
        width: 260px;
        height: 260px;
        border-radius: 130px;
        margin: 30px auto 180px;
    }

    /*vacancies finish*/
    .s1__p2__p1__p1-fonthavy {
        font: normal normal 700 60px/82px "Druk Text Wide", sans-serif;
        margin: 347px auto 430px 0;
        max-width: 50%;
    }

    /*Index page start*/
    .mainpage {
        min-height: 790px;
    }

    .firstScreen {
        height: 100%;
        position: relative;
        overflow: hidden;
    }

    .mainScreen {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 473px;
    }

    .h1index {
        margin: 0;
        min-width: 60%;
    }

    .h1index-big {
        font: normal normal 700 78px/90px "Druk Text Wide", sans-serif;
        display: block;
    }

    .h1index-min {
        font: normal normal 400 30px/41px "Druk Text Wide", sans-serif;
        display: block;
        margin: 45px 0 0;
    }

    .topics {
        max-width: 580px;
        margin: 50px 0 0;
    }

    .topics__button {
        font: normal normal 400 21px/32px "Montserrat", sans-serif;
        display: block;
    }

    .aboutus__h3 {
        margin: 20px 0 30px;
    }

    .year__set {
        display: flex;
        flex-wrap: wrap;
    }

    .year {
        flex: 1 1 30%;
    }

    .year__historydate {
        margin: 36px 0 27px;
        width: 90px;
    }

    .up-bottom::after {
        top: 116%;
    }

    .year__event {
        max-width: 360px;
        margin: 0 6% 12px 0;
    }

    .where {
        padding-top: 125px;
    }

    .keyprinciples {
        display: flex;
        margin-top: 140px;
    }

    .keyprinciples__h2 {
        font: normal normal 400 20px/34px 'Montserrat', sans-serif;
    }

    .Tracer {
        position: fixed;
        top: 5px;
    }

    .keyprinciples__p {
        margin: 0;
    }

    #ballIsPlaced::after {
        height: 67px;
        width: 67px;
        border-radius: 34px;
    }

    .listworks {
        margin: 70px 0;
        flex-wrap: wrap;
    }

    .logistic__p5 {
        display: flex;
        position: relative;
        margin-bottom: 131px;
        min-height: auto;
    }

    .logistic__items {
        padding: 0 0 0 13.3%;
        width: 92.7%;
    }

    .logistic__dirrection.show {
        align-items: flex-start;
    }

    .logistic__dirrection {
        margin: 0 0 0 0;
    }

    .switcher::before {
        top: 52px;
    }

    .switchDeskNone.switcher::before {
        content: none;
    }

    .maindirrection.switchDeskNone.switcher,
    .switchDeskNone.switcher .extender {
        display: flex;
        flex-direction: row;
        align-items: initial;
    }

    .keyprinciples__hide {
        margin: 13px 0 12px;
    }

    .maindirrection {
        margin: 20px 0 60px;
    }

    .agh1desk-nofull {
        margin: 0 auto 0;
        max-width: 900px;
        z-index: 1;
        position: relative;
    }

    .cta {
        margin-top: 0;
    }

    .cta-a {
        z-index: 0;
        height: 100%;
        width: 100%;
        line-height: 260px;
        text-align: center;
    }

    .testEmotions {
        margin-top: 177px;
    }

    .imotions__rounded {
        width: 82px;
        height: 82px;
        border-radius: 41px;
        margin: 35px auto 0;
    }

    .emotions__ag,
    .emotions__link {
        text-align: center;
    }

    .textCenter {
        text-align: center;
    }

    .testEmotions-h3 {
        margin: 22px 0 0;
    }

    /*Index page video start*/
    .emotions__item {
        display: none;
    }

    .emotions__item:first-child {
        margin-left: -530px;
    }

    .emotions__set {
        width: 130.8%;
        margin-left: -45%;
        overflow: hidden;
    }

    .video__nav {
        width: 216px;
        height: 164px;
        margin-bottom: 0;
        margin-right: 10px;
        bottom: 107px;
    }

    .emotions__ag {
        font: normal normal 700 20px/34px 'Montserrat', sans-serif;
        margin: 9px 0 2px;
    }

    .emotions__item {
        flex: 0 0 450px;
        padding: 0 40px 62px;
        display: flex;
        flex-direction: column;
    }

    .emotions__Text {
        margin: 8px 0 0;
        line-height: 26px;
    }

    .video__action {
        height: 300px;
        width: 337px;
        line-height: 300px;
        text-align: right;
        top: -127px;
        right: 16px;
    }

    .video__nav-top {
        height: 71%;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .video__go {
        width: 70px;
        height: 70px;
        border-radius: 35px;
        margin-top: 10px;
    }

    .video__go-prev {
        margin-left: -11px;
    }

    .videoSlidePlus {
        left: 10px;

    }

    /*Index page video finished*/
    /*portfolio*/
    .oil {
        width: 208px;
        height: 71px;
    }

    .aqua {
        width: 168px;
        height: 46px;
    }

    .know {
        width: 117px;
        height: 58px;
    }

    .perch {
        width: 191px;
        height: 47px;
    }

    .mail {
        width: 235px;
        height: 67px;
    }

    .kine {
        width: 197px;
        height: 57px;
    }

    .pifa {
        width: 94px;
        height: 95px;
    }

    .navy {
        width: 226px;
        height: 45px;
    }

    .ncc {
        width: 234px;
        height: 32px;
    }

    .sun {
        width: 63px;
        height: 81px;
    }

    .ano {
        width: 109px;
        height: 34px;
    }

    /*portfolio*/
    /*Index page finished*/
    /*vacancies */
    .s2__p1-vacancies {
        margin: 190px 0 85px;
    }

    .s3__flex {
        display: flex;
    }

    .s3__p1 {
        margin: 30px 0 0;
        flex: 1 0 20%;
    }

    .logistic__h3 {
        margin: 7px 0 0;
    }

    .s3__p2 {
        width: 50%;
        margin: 0;
    }

    .s3__p3 {
        width: 48%;
        margin: 0 1%;
    }

    .s3__p4 {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 2% 65px 0;
    }

    .switchDeskNone {
        padding: 20px 2% 0 0;
        margin: 25px 0 53px;
    }

    .s3__p5 {
        padding: 0 0 0 13.3%;
        width: 82.7%;
    }

    .support__h2 {
        margin: 0;
        font-size: 20px;
        line-height: 34px;
    }

    .contacth1, .s2__p1-vacancies,
    .TechSupportH1 {
        position: absolute;
        margin-top: auto;
        top: 0;
        bottom: 0;
        height: 82px;
        margin-bottom: auto;
    }

    .footer__p1 {
        margin: 18px 0 0;
    }

    .s4__supportpage {
        margin-top: 100px;
        margin-bottom: 180px;
    }

    .where__h3 {
        max-width: 760px;
        margin: 0;
    }

    .compactdesktop {
        max-width: 25%;
    }

    .desktop65 {
        max-width: 65%;
        margin: 43px 0 0;
    }

    .ourworks {
        max-width: initial;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0;
        padding: 16px 0;
    }

    .folio-works {
        margin-top: 50px;
    }

    .folio__company {
        max-width: 300px;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    /*buttons*/
    .buttonmiddle {
        margin: 0 0 0 auto;
    }

    .buttonmiddle-vacancies {
        margin-right: 6.5%;
    }

    /*forms start*/
    .FootForm__box {
        margin: -7px 0 30px;
    }

    .common__form {
        padding: 0 0 0 6.2%;
        max-width: 396px;
    }

    .formh1 {
        font: normal normal 400 27px/31px 'Druk Text Wide', sans-serif;
    }

    .footer__h2 {
        margin: 0;
        line-height: 40px;
    }

    .logisticH2 {
        padding: 32px 0 27px;
        line-height: 36px;
    }

    .formh1-vacancies {
        margin: 55px 0 43px;
        padding: 6px 0 0;
    }

    .footer__formh1-vacancies {
        margin: 0;
    }

    .vacancies-div {
        position: relative;
    }

    .vacancies-centered {
        position: absolute;
        top: 0;
        right: 6.7%;
        bottom: 0;
        margin: auto;
    }

    .content-vacancies {
        margin: 80px 0 25px;
    }

    .vacancies-half {
        width: 52%;
    }

    .content-vacancies-first {
        margin: 117px 0 27px;
    }

    .vacancies-p {
        margin: 0 0 17px;
    }

    .link-foot {
        margin: 28px 10% 40px 0;
    }

    #msg {
        min-height: 75px;
    }

    .footer__form__input {
        background-color: transparent;
        border-width: 0;
        display: block;
        position: relative;
        top: -42px;
        left: 24%;
        width: 76%;
        text-indent: 10px;
    }

    .index-textarea {
        border-width: 0;
        border-bottom: 1px solid #ffffff;
        height: 1px;
    }

    .FootForm-fn {
        left: 0;
        text-indent: 48px;
        top: -40px;
        width: 100%;
    }

    .FootForm-em {
        left: 0;
        text-indent: 70px;
        width: 100%;
    }

    .FootForm-ph {
        left: 0;
        text-indent: 85px;
        width: 100%;
    }

    .index-textarea {
        position: relative;
        top: -29px;
        left: 0;
        width: 100%;
        height: 95px;
        text-indent: 109px;
        box-sizing: border-box;
        overflow: hidden;
    }

    .index-textarea:focus {
        height: auto;
    }

    .buttonmiddle-footer {
        margin: 31px 0 0 36%;
    }

    .testcall {
        margin-top: 0;
    }

    .vac__pulse {
        margin: 12px 98px 29px auto;
    }

    .vac__input {
        top: -30px;
        border-width: 0;
    }

    .modalJoin__input {
        margin: 0;
    }

    .callBackButton {
        margin: 18px auto 0 296px;
    }

    .index-textarea:focus,
    .index-textarea:focus-visible {
        border: 0;
        height: 100px;
    }

    .periodTA {
        top: -30px;
    }

    /*forms finish*/
    /*footer*/
    .footer__box {
        max-width: 870px;
        display: flex;
        flex-wrap: wrap;
        margin: 0 0 0 auto;
        padding-left: 50px;
    }

    .footback {
        position: relative;
        width: 61.45%;
    }

    .footer__desktop {
        flex: 0 0 32%;
        margin: 71px 0 86px;
    }

    .footer__narrow {
        flex: 0 0 32%;
    }

    .footer__wide {
        flex: 0 0 36%;
    }

    .footer__nohead {
        padding: 42px 0 0;
    }

    .footer__nohead-last {
        position: relative;
        left: -3%;
        flex: 0 0 34%;
    }

    .footer__p3 {
        margin: 0;
    }

    .footer__p4 {
        margin: 16px 40px -14px 0;
    }

    /* form */
    .FootForm {
        width: 35%;
        display: inline-block;
    }

    .footback::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .footback::before {
        background-color: #121212;
        z-index: -3;
    }

    .footer__setboxes {
        display: flex;
    }

    .footer__p5 {
        margin: -40px 0 0 auto;
        max-width: 870px;
        display: flex;
    }

    .footer__p6 {
        margin-right: 1%;
    }

    /*contacts*/
    .s2-contactdesk {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap
    }

    .s3contactinfo__2desk {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-top: 80px;
        margin-bottom: 229px;
    }

    .contactinfo__2desk {
        flex: 0 0 33.4%;
        overflow: hidden;
        margin-top: 122px;
    }

    .s3contactinfo__2desk-pulse {
        flex: 0 0 400px;
        margin: 50px 0 0;
        padding: 80px 0 20px 2%;
    }

    .s3contactinfo__2desk-p {
        line-height: 40px;
    }

    .cta-bigbutton,
    .s3contactinfo-bigbutton {
        height: 260px;
        width: 260px;
        border-radius: 130px;
        margin-top: -20px;
    }

    .cta-bigbutton {
        margin-top: -40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .s3contactinfo-press {
        line-height: 260px;
        text-align: center;
        z-index: 0;
        position: relative;
    }

    .connect-figcaption {
        margin: -5px 0 0 0;
    }

    .command {
        margin: 0;
    }

    .contact-img {
        width: 427px;
        height: 508px;
    }

    .command-h2 {
        margin: 17px 0 15px;
    }

    .command-p {
        line-height: 38px;
    }

    /*contacts*/
    /*Video slider*/
    .video__h1 {
        margin: 0.6% 0 0 2.7%;
    }

    .video__list {
        padding: 10px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
        top: 0;
        max-width: 1140px;
    }

    .video__slides {
        position: absolute;
        top: 0;
        bottom: -22%;
        margin: auto;
        height: 220px;
        width: 84%;
        overflow: hidden;
    }

    .video__item {
        width: 300px;
        height: 200px;
        background-size: 220px;
        margin: 10px;
        flex: 1 0 300px;
        max-width: 300px;
    }

    .video__item:first-child {
        margin-left: -320px;
    }

    .video__nav-top {
        height: 87%;
        max-width: 100px;
        right: 5.8%;
        bottom: 16%;
        top: auto;
    }

    .videoSlider-close {
        position: relative;
        z-index: 1;
    }

    /*Video slider*/
    /*Modal forms*/
    .modalJoinForm {
        max-width: 500px;
    }

    .vac__close {
        position: absolute;
        top: 20px;
        right: 10px;
    }

    .vac__wind {
        max-width: 600px;
        max-height: initial;
        padding: 20px;
    }

    .vacancies-hidden-form {
        min-width: 460px;
        padding: 0 40px 0;
    }

    .modalJoin__input {
        top: -39px;
    }

    .periodTA {
        text-indent: 110px;
        top: -31px;
    }

    .hide-form-index__close {
        position: absolute;
        right: -10px;
        top: 0;
    }

    .hide-form-index__h2 {
        margin: 44px 0 24px;
    }

    .modaljoinToUs__h3 {
        font: normal normal 400 27px/41px 'Druk Text Wide', sans-serif;
        color: #FFFFFF;
        padding: 32px 35px 0;
    }

    .footer__form__input,
    .modalJoin__text {
        font: normal normal 400 16px/27px 'Montserrat', sans-serif;
        color: #FFFFFF;
    }

    .eriodTA {
        top: -28px;
    }

    .eriodTA:focus {
        height: 40px;
    }

    .modalJoin-center {
        text-align: center;
    }

    .hide-form-index__form {
        padding: 0 40px 50px;
    }

    .hide-form-index__h2 {
        margin: 47px 0 0;
        padding: 0;
        letter-spacing: -1.1px;
    }

    .vac__labels {
        padding-top: 36px;
    }

    .vac__h2 {
        padding: 25px 0 10px;
    }

    .vac__block {
        margin: 0;
    }

    .index__n {
        margin: 5px 0 0;
    }

    .hide-form-index__i {
        top: -28px;
    }

    .hide-form-index__button {
        margin: 18px 21% 0 auto;
        letter-spacing: -0.7px;
    }

    .hide-form-index__phone {
        left: 15%;
        width: 85%;
        text-indent: 10px;
    }

    /*Modal forms*/
    /*Orbit*/
    .back-site__round-out {
        width: 80vmin;
        height: 80vmin;
        border-radius: 40vmin;
        top: 0;
        right: 5%;
        bottom: 0;
        left: auto;
        background: radial-gradient(#3a3a3a 0, transparent 70%);
        margin: auto;
        display: flex;
    }

    /*Orbit*/
    /*Period*/
    .periodForm {
        max-height: 624px;
        max-width: 288px;
        padding: 0 16px 35px;
    }

    .periodClose {
        position: absolute;
        top: 2px;
        right: -9px;
        height: 16px;
        width: 16px;
    }

    .periodH2 {
        padding: 41px 0 0;
        font: normal normal 700 19px/29px 'Druk Text Wide', sans-serif;
        margin: 0;
    }

    .periodH4 {
        margin: 13px 0 0;
    }

    .periodLabels {
        font: normal normal 400 16px/27px 'Montserrat', sans-serif;
        color: #FFFFFF;
        margin: 0 auto 0;
        width: 100%;
        padding: 22px 0 0;
    }

    .periodInputFN {
        text-indent: 45px;
        top: -27px;
    }

    .periodInputLN {
        text-indent: 70px;
        top: -28px;
    }

    .periodInputFNPhone {
        text-indent: 85px;
        top: -27px;
    }

    .periodLabelMSG {
        top: 0;
    }

    .period__text {
        height: 20px;
        margin: 0 0 11px;
    }

    .color-trance {
        color: transparent;
    }

    .color-trance::after {
        background-color: transparent;
    }

    #msg.periodMSG {
        text-indent: 110px;
        top: -55px;
    }

    .periodTA {
        height: 50px;
        padding: 0 5px;
        box-sizing: border-box;
        border-bottom: 1px solid #fff;
    }

    .periodSend {
        margin: 26px 99px 0 auto;
    }

    /*Period*/
    .aboutus, .keyprinciples {
        transition: all 2s;
        opacity: 0;
        position: relative;
        top: 100px;
    }

    .aboutus.appear, .keyprinciples.appear {
        opacity: 1;
        top: 0;
    }
}

.periodLabelMSG::after {
    content: none;
}

.periodTA {
    border-bottom: 1px solid #fff;
}

/*scroll animation*/
.aboutus {
    position: relative;
}

/*hide scroll*/
.listworks, .video__list {
    overflow-x: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */

.listworks::-webkit-scrollbar,
.video__list::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.listworks, .video__list {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

#ballIsPlaced {
    transition: color .7s;
    color: #FFFFFF;
}

@keyframes down {
    from {
        margin-top: -100px;
        opacity: 0;
    }
    to {
        margin-top: 0;
        opacity: 1;
    }
}

@keyframes appearTabs {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@keyframes paper {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Orbit*/

@media (max-width: 1070px) and (orientation: landscape) {
    .overyes .s1__p2 {
        height: 95vmin;
        padding: 3vmin 0;
        justify-content: space-around;
    }

    .s1__p2__p1 {
        padding: 5px 0;
    }

    .back-site__round-out {
        top: 0;
    }

    .mainScreen {
        margin-top: -8vmin;
    }

    .firstScreen {
        height: auto;
        margin-top: 30vmin;
    }

    .contacth1,
    #contacts,
    .s2__p1-vacancies,
    #vacancies,
    .TechSupportH1,
    #techsupprt {
        margin-top: 25vmin;
    }
}

@media (min-width: 1070px) and (max-width: 2000px) {
    .back-site__round-out {
        right: 5%;
    }
}

@media (min-width: 1070px) and (max-width: 1650px) {
    .emotions__set {
        width: 109%;
        margin-left: -31%;
    }
}

@media (min-width: 1070px) {
    .emotions {
        margin: -230px auto 0;
    }

    .logicButton {
        padding-right: 5%;
    }
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #1378EF;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

canvas {
    visibility: visible;
}

/*Lines*/

@media (min-width: 1366px) {
    .back-site {
        width: 166.5%;
        left: -17.8%;
    }

    .common__form {
        padding: 0;
        margin: 0 -0.2% 0 auto;
    }
}

@media (min-width: 1400px) {
    .back-site {
        width: 166.7%;
        left: -17.8%;
    }
}

@media (min-width: 1440px) {
    .back-site {
        width: 161.9%;
        left: -16%;
    }

    .common__form {
        margin: 0 4.1% 0 auto;
    }
}

@media (min-width: 1600px) {
    .back-site {
        width: 145.9%;
        left: -9.4%;
    }

    .common__form {
        margin: 0 16.5% 0 auto;
    }
}

@media (min-width: 1680px) {
    .back-site {
        width: 139.1%;
        left: -6.6%;
    }

    .common__form {
        margin: 0 21.8% 0 auto;
    }
}

@media (min-width: 1920px) {
    .back-site {
        width: 121.6%;
        left: 0.5%;
    }

    .common__form {
        margin: 0 35.9% 0 auto;
    }
}

@media (min-width: 2304px) {
    .back-site {
        width: 152.1%;
        left: 2.2%;
    }

    .common__form {
        margin: 0 52.2% 0 auto;
    }
}

@media (min-width: 2560px) {
    .back-site {
        width: 91.2%;
        left: 12.9%;
    }

    .common__form {
        margin: 0 49.5% 0 auto;
    }

    .footback {
        position: relative;
        width: 57.75%;
    }
}

@media (min-width: 2880px) {
    .back-site {
        width: 121.4%;
        left: 11.9%;
    }

    .common__form {
        margin: 0 57.5% 0 auto;
    }
}

/*Lines*/